In [1]:
import pandas as pd
df = pd.read_csv('developer_survey_2019/survey_results_public.csv')
pd.set_option('max_rows',6)
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

# Filtering Data

# 🚿   🚿   🚿  🚿

### df['column_name'] == some_value 
What do you think this will return

# 🧐   🧐   🧐   🧐   🧐

No, it won't return a dataframe with rows that have 'some_value' in corresponding 'column_name'.

It will return a Series of boolean Values.

In [2]:
df['OpenSourcer'] == 'Never'

0         True
1        False
2         True
         ...
88880     True
88881     True
88882    False
Name: OpenSourcer, Length: 88883, dtype: bool

#### Note: We will place this statement in a variable....We can not name variables identical to a builtin function, so we won't name it filter, we will name the variable filt.

# 🎆   🎆   🎆   🎆    🎆

In [3]:
filt = (df['OpenSourcer'] == 'Never')


#  🎗️   🎗️   🎗️   🎗️   🎗️

Remember, series is a unidimensional array.
When we place this boolean series inside the square brackets i.e df['series'],
the resultant dataframe will contain rows corresponding to the True value and it won't contain rows corresponding to False values.

In [4]:
df[filt]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Although, in this case, df[filt] & df.loc [filt] works the same way, it is better practice to use df.loc[filt]

#  🛸   🛸   🛸   🛸   🛸

In [5]:
df.loc [filt]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Let's Play with these functions a bit to get  better understanding

# 🤾‍  🤾‍   🤾‍  🤾‍  🤾‍

In [6]:
df.loc[filt,'Respondent':'Student']

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No
...,...,...,...,...,...,...,...,...
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN

We Can use boolean algebra to place multiple conditions in the same filter

#   🅱️   🅱️   🅱️   🅱️   🅱️

In [7]:
filt = (df['OpenSourcer'] == 'Never') & (df['Hobbyist'] == 'Yes')

In [8]:
df.loc[filt,['Employment','OpenSourcer','Hobbyist','LanguageWorkedWith']]

,Employment,OpenSourcer,Hobbyist,LanguageWorkedWith
0,"Not employed, and not looking for work",Never,Yes,HTML/CSS;Java;JavaScript;Python
2,Employed full-time,Never,Yes,HTML/CSS
5,Employed full-time,Never,Yes,Java;R;SQL
...,...,...,...,...
88853,Employed full-time,Never,Yes,HTML/CSS;Java;JavaScript;Python;Swift;TypeScript
88860,"Not employed, and not looking for work",Never,Yes,Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
88866,"Not employed, and not looking for work",Never,Yes,Assembly;C++;HTML/CSS;VBA

In [9]:
filt = (df['OpenSourcer'] == 'Never') | (df['Hobbyist'] == 'Yes')

In [10]:
df.loc[filt,['Employment','OpenSourcer','Hobbyist','LanguageWorkedWith']]

,Employment,OpenSourcer,Hobbyist,LanguageWorkedWith
0,"Not employed, and not looking for work",Never,Yes,HTML/CSS;Java;JavaScript;Python
2,Employed full-time,Never,Yes,HTML/CSS
3,Employed full-time,Never,No,C;C++;C#;Python;SQL
...,...,...,...,...
88880,Employed full-time,Never,No,NaN
88881,"Independent contractor, freelancer, or self-em...",Never,No,NaN
88882,"Not employed, and not looking for work",Less than once per year,Yes,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...

In [11]:
df.loc[~filt,['Employment','OpenSourcer','Hobbyist','LanguageWorkedWith']]

,Employment,OpenSourcer,Hobbyist,LanguageWorkedWith
1,"Not employed, but looking for work",Less than once per year,No,C++;HTML/CSS;Python
29,Employed full-time,Less than once a month but more than once per ...,No,NaN
32,Employed full-time,Less than once a month but more than once per ...,No,C++;Python;R
...,...,...,...,...
88857,"Independent contractor, freelancer, or self-em...",Less than once a month but more than once per ...,No,Bash/Shell/PowerShell;HTML/CSS;PHP;R;SQL
88859,"Independent contractor, freelancer, or self-em...",Less than once per year,No,Go;HTML/CSS
88876,Employed full-time,Less than once per year,No,HTML/CSS;JavaScript;Python

We will create a filter called OverAge, for segregating the data of people over 17.

In [14]:
OverAge = (df['Age'] > 17)

In [15]:
df.loc[OverAge,['Age','UndergradMajor','Employment','Student','Country']]

,Age,UndergradMajor,Employment,Student,Country
1,19.0,NaN,"Not employed, but looking for work","Yes, full-time",Bosnia and Herzegovina
2,28.0,Web development or web design,Employed full-time,No,Thailand
3,22.0,"Computer science, computer engineering, or sof...",Employed full-time,No,United States
...,...,...,...,...,...
88872,25.0,"Computer science, computer engineering, or sof...",Employed part-time,"Yes, full-time",Czech Republic
88876,40.0,NaN,Employed full-time,No,Spain
88882,18.0,"Computer science, computer engineering, or sof...","Not employed, and not looking for work","Yes, full-time",Spain

### Now we will be doing a newer and very useful concept, so your utmost concentration is required

#  🤓   🤓   🤓   🤓   🤓

We our going to make a list of a few countries and we are going to use isin() function to filter the data of only these countries

In [16]:
countries = ['Pakistan','India','Bangladesh']

In [17]:
filt = df['Country'].isin(countries)

In [18]:
df.loc[filt,['Age','UndergradMajor','Employment','Student','Country']]

,Age,UndergradMajor,Employment,Student,Country
7,24.0,"Computer science, computer engineering, or sof...","Not employed, but looking for work",NaN,India
9,NaN,NaN,Employed full-time,No,India
14,20.0,NaN,"Not employed, but looking for work","Yes, full-time",India
...,...,...,...,...,...
88853,NaN,Web development or web design,Employed full-time,"Yes, full-time",India
88864,24.0,"Another engineering discipline (ex. civil, ele...",Employed full-time,No,India
88875,NaN,NaN,Employed part-time,NaN,Pakistan

### Let's filter out a little more specific data.

#  👨‍💻    👨‍💻    👨‍💻    👨‍💻    👨‍💻

In [19]:
filt = df['Country'].isin(countries) & (df['Age'] >= 18) & (df['Student'] == 'Yes, full-time')

In [20]:
df.loc[filt,['Age','UndergradMajor','Employment','Student','Country']]

,Age,UndergradMajor,Employment,Student,Country
14,20.0,NaN,"Not employed, but looking for work","Yes, full-time",India
74,27.0,"Computer science, computer engineering, or sof...",Employed full-time,"Yes, full-time",India
77,25.0,"Computer science, computer engineering, or sof...",Employed full-time,"Yes, full-time",India
...,...,...,...,...,...
88599,30.0,NaN,Employed full-time,"Yes, full-time",India
88710,20.0,I never declared a major,"Not employed, and not looking for work","Yes, full-time",Pakistan
88852,24.0,NaN,Employed full-time,"Yes, full-time",India

### You better be ready 'cause here comes the real deal

#   🏁   🏁   🏁   🏁   🏁

In [21]:
filt = df ['LanguageWorkedWith']

In [22]:
filt

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
                               ...
88880                                                  NaN
88881                                                  NaN
88882    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

### We will first use str attribute of Pandas Series 
### Then we will use contains function to check whether that particular string is present in the entry.

#  💦   💦   💦   💦   💦

In [23]:
filt = df ['LanguageWorkedWith'].str.contains('Python')

In [24]:
filt

0         True
1         True
2        False
         ...
88880      NaN
88881      NaN
88882    False
Name: LanguageWorkedWith, Length: 88883, dtype: object

#  🧿   🧿   🧿   🧿   🧿

Our next step i.e df [filt] is probably not going to work.

No, it's absolutely not gonna work 

Have you guessed why 

You have not

Well that's a shame 

#  😓  😓  😓  😓  😓

It won't because this series is not all boolean ... it has NaN entries, which will cause error.

In [25]:
df[filt]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

### Here is how we will remove the NaN entries

#  👇  👇  👇  👇  👇

In [26]:
filt = df ['LanguageWorkedWith'].str.contains('Python', na = False)

In [27]:
df.loc[filt,['Age','LanguageWorkedWith','Country']]

,Age,LanguageWorkedWith,Country
0,14.0,HTML/CSS;Java;JavaScript;Python,United Kingdom
1,19.0,C++;HTML/CSS;Python,Bosnia and Herzegovina
3,22.0,C;C++;C#;Python;SQL,United States
...,...,...,...
88865,74.0,Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):,Switzerland
88872,25.0,C;C++;HTML/CSS;JavaScript;PHP;Python;SQL,Czech Republic
88876,40.0,HTML/CSS;JavaScript;Python,Spain

### HURRAH!!! It worked

#  🤩   🤩   🤩   🤩   🤩

### Now let's try to that for multiple strings

In [28]:
filt = df ['LanguageWorkedWith'].str.contains('Python','C','Java', na = False)

TypeError: unsupported operand type(s) for &: 'str' and 'int'

###  If at first you don't succeed, try, try again.

#  👻  👻  👻  👻  👻

In [29]:
filt = df ['LanguageWorkedWith'].str.contains(['Python','C','Java'], na = False)

TypeError: unhashable type: 'list'

### Whaaat!! It didn't work!!!!! Again!!!

#  😮  😮  😮  😮  😮  😮

### Actually, only a single string can be given as argument in contains function
### So that means it cannot be done with multiple strings

### That's not true 

# 🤥  🤥  🤥  🤥  🤥  🤥

### Multiple strings can be filtered using regex(regular expression)

In [30]:
filt = df ['LanguageWorkedWith'].str.contains('Python|Java', na = False)

In [31]:
df.loc[filt,['Age','LanguageWorkedWith','Country']]

,Age,LanguageWorkedWith,Country
0,14.0,HTML/CSS;Java;JavaScript;Python,United Kingdom
1,19.0,C++;HTML/CSS;Python,Bosnia and Herzegovina
3,22.0,C;C++;C#;Python;SQL,United States
...,...,...,...
88877,NaN,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...,United States
88878,NaN,HTML/CSS;JavaScript;Other(s):,Canada
88882,18.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Spain

In [32]:
filt = df ['LanguageWorkedWith'].str.contains('Python|HTML', na = False)

In [33]:
df.loc[filt,['Age','LanguageWorkedWith','Country']]

,Age,LanguageWorkedWith,Country
0,14.0,HTML/CSS;Java;JavaScript;Python,United Kingdom
1,19.0,C++;HTML/CSS;Python,Bosnia and Herzegovina
2,28.0,HTML/CSS,Thailand
...,...,...,...
88877,NaN,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...,United States
88878,NaN,HTML/CSS;JavaScript;Other(s):,Canada
88882,18.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Spain

### Note: Python|HTML is valid but Python | HTML will not work
### Don't Believe me ? See for yourself

#  🙈   🙈   🙈   🙈   🙈   🙈

In [34]:
filt = df ['LanguageWorkedWith'].str.contains('Python | HTML', na = False)

In [35]:
df.loc[filt,['Age','LanguageWorkedWith','Country']]

Empty DataFrame
Columns: [Age, LanguageWorkedWith, Country]
Index: []

### Let's wrap it up with a very powerful function of pandas value_counts

The value_counts() function is used to get a Series containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element.

#  💪   💪   💪   💪   💪

In [36]:
df['Country'].value_counts()

United States            20949
India                     9061
Germany                   5866
                         ...
Niger                        1
Dominica                     1
Saint Kitts and Nevis        1
Name: Country, Length: 179, dtype: int64

## And That's That

#  💠  💠  💠  💠  💠